*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------------------------------------Global------------------------------------------------------------------------- */
body{
  font-family: 'Poppins', sans-serif;
}
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-6{
  width: 50%;
}
.col-4{
  width: 33.33333333333%;
}
.btn{
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}
.btn__outline{
  border: 2px solid #ff4a57;
  border-radius: 50px;
  padding: 13px 40px;
}

/* --------------------------------------------------------------------Nav Bar---------------------------------------------------------------- */
.navbar{
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #1f2235;
  z-index: 1;
  top: 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.navbar__container{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.icon{
  color: rgb(15, 223, 195);
  font-size:30px;
  font-weight:900;
}

.navbar__right{
  display: flex;
  list-style-type: none;
}

.navbar__right li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 0 15px;
}

/* -------------------------------------------------Header--------------------------------------------------- */

.header{
  width: 100%;
  height: 100vh;
  background-color: #000513;
  overflow: hidden;
}
.header__content{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
}
.header_ul{
  display: flex;
  list-style-type: none;
  margin-bottom: 30px;
}
.header_ul a{
  text-decoration: none;
  color: #dfdfdf;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(15, 223, 195);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  color: #fff;
  font-size: larger;
}

.header_ul li:first-child{
  margin-left: 0;
}

.header__section h1{
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header__section p{
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
}
.banner__img{
  margin-left: 70px;
  margin-top: 100px;
  margin-bottom: 0px;
  position:absolute;
  bottom: 0;
}

/* ------------------------------------------------Services -------------------------------------------------*/

.services{
  background-color:#0b0e1d;
  padding: 100px 0;
  color: #fff;
}
.common{
  width: 33.333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading{
  margin-bottom: 20px;
  font-weight: 500;
  color: rgb(15, 223, 195);
  font-size: 16px;
}
.mainHeader{
  font-size: 32px;
  margin-bottom: 20px;
}
.mainContent{
  font-size: 16px;
  color: #dfdfdf;
}
.commonBorder{
  background: rgb(15, 223, 195);
  height: 3px;
  width: 150px;
  margin:30px auto;
}
.services__box{
  padding: 40px;
  margin: 20px;
  background-color: #000513;
  color: #fff;
  box-shadow: 5px 5px 15px 5px #171230;
}
.commonIcons img{
  padding: 6px;
  height: 40px;
  background-color: rgb(15,223,195);
  margin-bottom:15px;
  border-radius: 30%;
}
.services__box-header{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services__box-p{
  font-size: 14px;
  color: #828282;
}